{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <div class="auth-header">

            <h2>Login</h2>

            <p>
                Welcome back! Sign in to continue shopping.
            </p>

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Enter your username"
                    required
                >

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter your password"
                    required
                >

            </div>

            <button type="submit" class="auth-btn">

                Login

            </button>

        </form>

        <div class="auth-footer">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </div>

    </div>

</div>

{% endblock %}